---
layout: default
---

{%- assign latest = site.posts.first -%}

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ latest.title | escape }}</h1>
    <p class="post-meta">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <time class="dt-published" datetime="{{ latest.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ latest.date | date: date_format }}
      </time>
    </p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ latest.content }}
  </div>

  <a class="u-url" href="{{ latest.url | relative_url }}" hidden></a>
</article>
